/*
_main.scss
Main import files for most variables
*/

// --- VARIABLES ---

// Sizing
$h_nav: 48px;

// Padding & margins
$m_side: 64px;
$p_nav: $m_side;
$p_nav-elements: 32px;

// Colors
$c_accent: #9303db;

// Fonts
@font-face {
    font-family: "Iosevka";
    src: url("../fonts/iosevka-regular.ttf");
}

$f_body: 13pt;


// --- CSS ---

// Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Iosevka";
    font-size: $f_body;
    color: white;
}

// Background
body {
    background: black;
}

// Links
a {
    text-decoration: underline;
    transition: 0.1s;

    &:hover {
        color: $c_accent;
    }
}

// ASCII art
pre.ascii {
    line-height: $f_body;
    text-align: center;
    font-family: monospace;
}

// Content
div.content {
    text-align: center;
    padding: 64px 20vw;
}