/*
blog.scss
SCSS file for the blog homepage
*/

// --- IMPORTS ---
@import "main";
@import "partials/nav";


// --- ADDITIONS ---

// Reset content align to left
div.content {
    text-align: left;
}

// !blogposts, make warning align center
p.center {
    text-align: center;
}