//
// nav.pug
// pug import for the navbar
//

// --- NAVBAR ---
nav
    ul

        // Homepage
        li
            a(href="/") ironveil

        // About
        li
            a(href="/about") about

        // Works
        li
            a(href="/works") works

        // Blogposts
        li
            a(href="/blog") blog