//
// about.pug
// About page template
//

// --- HEAD ---
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/home.css")
        title about | ironveil

    // --- BODY ---
    body 
        include partials/nav

        // Title
        section.main
            div
                br
                pre.ascii         _                 _   
                pre.ascii        | |               | |  
                pre.ascii    __ _| |__   ___  _   _| |_ 
                pre.ascii   / _` | '_ \ / _ \| | | | __|
                pre.ascii  | (_| | |_) | (_) | |_| | |_ 
                pre.ascii   \__,_|_.__/ \___/ \__,_|\__|

            // About me
            div.content
                p hey there! my name is jamie and i am a young cs student & developer. this (basic) website will be the home for all my #[a(href="/blog") blogposts], all my #[a(href="/works") projects], and any contact information.
                br
                p contact email: #[a(href="mailto:contact@ironveil.cloud") contact@ironveil.cloud ]
                p mastodon: #[a(href="https://tech.lgbt/@iron_veil") @iron_veil@tech.lgbt ]
                p gitlab: #[a(href="https://gitlab.com/ironveil") ironveil]