//
// blog.pug
// Blog page template
//

// --- HEAD ---
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/blog.css")
        title blog | ironveil

    // --- BODY ---
    body
        include partials/nav

        // Title
        section.main
            div
                br
                pre.ascii   _     _             
                pre.ascii  | |   | |            
                pre.ascii  | |__ | | ___   __ _ 
                pre.ascii  | '_ \| |/ _ \ / _` |
                pre.ascii  | |_) | | (_) | (_| |
                pre.ascii  |_.__/|_|\___/ \__, |
                pre.ascii                  __/ |
                pre.ascii                 |___/ 

            // List of blogposts
            div.content

                if posts.length != 0
                    each post in posts
                        a(href="/blog/" + post.file)= post.title
                        
                else
                    p.center no blog posts