//
// blog-post.pug
// Blogpost page template
//

// --- HEAD ---
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/blog.css")
        title= title + " | ironveil"

    // --- BODY ---
    body 
        include partials/nav

        // Content
        section.main
            div.content
                | !{post}