//
// home.pug
// Homepage template
//

// --- HEAD ---
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/home.css")
        title home | ironveil

    // --- BODY ---
    body 
        include partials/nav

        // Title
        section.main
            div
                br
                pre.ascii                _                          
                pre.ascii               | |                         
                pre.ascii  __      _____| | ___ ___  _ __ ___   ___ 
                pre.ascii  \ \ /\ / / _ \ |/ __/ _ \| '_ ` _ \ / _ \
                pre.ascii   \ V  V /  __/ | (_| (_) | | | | | |  __/
                pre.ascii    \_/\_/ \___|_|\___\___/|_| |_| |_|\___|

            // Welcome message
            div.content
                p hey there! my name is jamie and i am a young developer. this is my personal website - where you can see my #[a(href="/blog") personal blog], any of my #[a(href="/works") works] & any way to contact me and find out more.

            // For Mastodon
            a(href="https://tech.lgbt/@iron_veil" rel="me")