//
// works.pug
// Works page template
//

// --- HEAD ---
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title works | ironveil
        link(rel="stylesheet", href="/css/home.css")

    // --- BODY ---
    body 
        include partials/nav

        // Title
        section.main
            div
                br
                pre.ascii                      _        
                pre.ascii                     | |       
                pre.ascii  __      _____  _ __| | _____ 
                pre.ascii  \ \ /\ / / _ \| '__| |/ / __|
                pre.ascii   \ V  V / (_) | |  |   <\__ \
                pre.ascii    \_/\_/ \___/|_|  |_|\_\___/