/*
_nav.scss
SCSS import for the navbar
*/

// --- NAVBAR ---
nav {
    width: 100vw;
    height: $h_nav;
    padding: 0 $p_nav;

    // List elements
    li {
        display: block;
        float: right;

        // Make title on the left
        &:first-child {
            float: left;
        }

        // Make others have padding
        &:not(:first-child) {
            padding-left: $p_nav-elements;
        }

        // Links
        a {
            line-height: $h_nav;
        }
    }
}